<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ComtrexDefinitions"
          connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ICOM\Database\CBODef_s.mdb;Jet OLEDB:Database Password=C0mtrex;"
          providerName="System.Data.OLDEDB"/>
  </connectionStrings>
</configuration>